<h2>
    Diets
</h2>

{{!-- Create a table --}}
<table border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Diet ID</th>
            <th>Diet Name</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.diet_id}}</td>
            <td>{{this.diet_type}}</td>
            <td align="middle">
                <button class="delete" onClick="deleteDiet({{this.diet_id}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p>&nbsp;</p>