<h2>
    Diets
</h2>

{{!-- Create a table --}}
<table id="diets-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Diet ID</th>
            <th>Diet Name</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.diet_id}}</td>
            <td>{{this.diet_type}}</td>
            <td align="middle">
                <button class="delete" onClick="deleteDiet({{this.diet_id}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p>&nbsp;</p>


{{!-- Add a Diet form --}}
<form id="add-diets-form-ajax">
    <fieldset class="fields">
        <legend><strong>Add a Diet</strong></legend>

        <label for="input-diets-name">Diets: </label>
        <input type="text" name="input-diets" id="input-diets"></input>
            
        <p>
        <input class="btn" type="submit" value="Submit">
        </p>
    </fieldset>
</form>
<script src="./js/add_diets.js"></script>
<p>&nbsp;</p>
