{{!-- Citation for the following: table and add a diet form --}}
{{!-- Date: 11/08/2022 --}}
{{!-- Adapted from nodejs-starter-app --}}
{{!-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>
    Diets
</h2>

{{!-- Create a table --}}
<table id="diets-table" border="1" cellpadding="5">

    <thead>
        <tr>
            <th>Diet ID</th>
            <th>Diet Name</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {{!-- Iterate through data from database to fill table cells --}}
        {{#each data}}
        <tr data-value={{this.diet_id}}>
            <td>{{this.diet_id}}</td>
            <td>{{this.diet_type}}</td>
            <td align="middle">
                {{!-- Delete button --}}
                <button class="delete" onClick="deleteDiet({{this.diet_id}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_diet.js"></script>
<p>&nbsp;</p>


{{!-- Add a Diet form --}}
<form id="add-diets-form-ajax">
    <fieldset class="fields">
        <legend><strong>Add a Diet</strong></legend>

        <label for="input-diets-name">Diet: </label>
        <input type="text" name="input-diets" id="input-diets"></input>
            
        <p>
        <input class="btn" type="submit" value="Submit">
        </p>
    </fieldset>
</form>
<script src="./js/add_diets.js"></script>
<p>&nbsp;</p>
