<body>
    <h2>Overview</h2>
        <p>A team of zoologists at Fire Zoo is in need of a database to track the spread of foodborne illnesses among animals. 
            Fire Zoo is a medium-sized zoo with a maximum capacity of 2,000 Animals and 20 Zookeepers.
            Using an electronic database will reduce the amount of time and effort needed during the investigation stage and 
            result in prompt intervention and treatment when an illness is detected.
        </p>
        <h3>Functionalities</h3>
        <link rel="stylesheet" href="css/App.css">

        <ul>
            <li>
                <b>Animals: </b> Search, add, delete, and update an animal
            </li>
            <li>
                <b>Species: </b> Add a species
            </li>
            <li>
                <b>Diets: </b> Add and delete a diet
            </li>
            <li>
                <b>Feedings: </b> Search, add, delete, and update a feeding
            </li>
            <li>
                <b>Feedings_Kitchens: </b> Add, delete, and update an association between Feedings and Kitchens
            </li>
            <li>
                <b>Kitchens: </b> Add and delete a kitchen
            </li>
            <li>
                <b>Zookeepers: </b> Add and delete a zookeeper
            </li>
        </ul>
    <p>&nbsp;</p>
    <footer>
        © 2022 Anh Tuyet Vo, William Garcia
    </footer>
</body>


