{{!-- Citation for the following: table and add kitchen form --}}
{{!-- Date: 11/08/2022 --}}
{{!-- Adapted from nodejs-starter-app --}}
{{!-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>
    Kitchens
</h2>

{{!-- Create a table --}}
<table id="kitchens-table" border="1" cellpadding="5">

    <thead>
        <tr>
            <th>Kitchen Id</th>
            <th>Kitchen Name</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        {{!-- Iterate through data from database to fill table cells --}}
        {{#each data}}
        <tr data-value={{this.kitchen_id}}>
            <td>{{this.kitchen_id}}</td>
            <td>{{this.name}}</td>
            <td align="middle">
                {{!-- Delete button --}}
                <button class="delete" onClick="deleteKitchen({{this.kitchen_id}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
*Note: Kitchen cannot be deleted if it is associated with a feeding.

<script src="./js/delete_kitchen.js"></script>
<p>&nbsp;</p>


{{!-- Add a Kitchen form --}}
<form id="add-kitchen-form-ajax">
    <fieldset class="fields">
        <legend><strong>Add Kitchen</strong></legend>

        <p>
            <label for="input-name">Name: </label>
            <input type="text" name="input-name" id="input-name"></input>
        </p>

        <p>
        <input class="btn" type="submit" value="Submit">
        </p>
    </fieldset>
</form>
<script src="./js/add_kitchen.js"></script>
<p>&nbsp;</p>
