<h2>
    Kitchens
</h2>

{{!-- Create a table --}}
<table border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Kitchen Id</th>
            <th>Kitchen Name</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.kitchen_id}}</td>
            <td>{{this.name}}</td>
            <td align="middle">
                <button class="delete" onClick="deleteKitchen({{this.kitchen_id}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p>&nbsp;</p>