/* CSS for Fire Zoo website project */

body {
    color: #ff9101;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
  }

.navigation {
    background-color: rgb(247, 111, 111);
    overflow: hidden;
    padding: 8px;
}

.description {
  color: black;
}

/* Citation for the following: .navigation a, .navigation a:hover and .navigation a.active 
// Date: 12/05/2022
// Adapted from How TO - Top Navigation
// Source URL: https://www.w3schools.com/howto/howto_js_topnav.asp */

.navigation a {
  color: white;
  padding: 16px;
  font-size: 17px;
}

.navigation a:hover {
    background-color: orange;
    color: black;
}
  

.navigation a.active {
  background: #f2f2f2;
  color: rgb(243, 151, 12);
}
